/* General */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'Lucida Grande', Arial,sans-serif;
}

* {
    box-sizing: border-box;
}



/* Header */

#header {
    width: 100%;
    background-color: #fff;
    text-align: center;
    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logo {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 100%;
}

.logo a {
    text-decoration: none;
    display: inline-block;
    width: 50%;
}

.logo a img {
    width: 75%;
}

#header ul {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

#header li {
    list-style-type: none;
    display: inline-block;
}

button {
    color: #000;
    font-size: 1em;
    font-weight: 700;
    border: none;
    margin: 10px;
    background-color: #fff;
    padding: 5px 8px;
    transition: all .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:active {
    color: #c9c4c4;
}

button:focus {
    color: #c9c4c4;
    outline: none; /* Removes Chrome blue border */
}



/* Gallery */

.wrapper {
    width: 100%;
}

#gallery-grid {
    width: 95%;
    margin: 0 auto 2%;
}

.column-one,
.column-two,
.column-three,
.column-four {
    width: 23%;
    float: left;
    margin: 1%;
}

.mix img {
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
    margin: 10px 0;
}

div#gallery-grid:hover a {
    transition: 0.3s ease-in 0s;
	opacity: 0.3;
}

div#gallery-grid:hover a:hover {
    transition: 0.3s ease-in 0s;
	opacity: 1;
}



/* Fixed Banner */

.contact-banner {
    width: 100%;
    height: 40px;
    background-color: #fff;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.banner-box {
    height: 40px;
    width: 30%;
    position: relative;
}

a#icon-one {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 50px;
}

 a#icon-two {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 80px;
}



.contact-box {
    position: absolute;
    top: 6px;
    right: 70px;
}

.work-box {
    position: absolute;
    top: 6px;
    right: 200px;
}

.top-box {
    position: absolute;
    top: 6px;
    right: 310px;
}

.contact-box a,
.work-box a,
.top-box a {
    text-decoration: none;
    font-size: 1.5em;
    color: #000;
}

.banner-box a:hover,
.contact-box a:hover,
.work-box a:hover,
.top-box a:hover,
.contact-one a:hover, /* Adding contact page links for hover effect */
.contact-two a:hover,   
.contact-three a:hover {    
    opacity: 0.3;
}



/* Work Page */

.cuttings {
    text-align: center;
    animation: fadein 4s;
}

.cuttings img {
    max-width: 100%;
}



/* Contact Page */

#grid {    /* Changes gallery-grid to grid to avoid hover effects */
    width: 95%;
    margin: 0 auto 2%;
}

.bio {
    width: 55%;
    float: left;
    padding: 0 7%;
    line-height: 1.5em;
    animation: fadein 4s;
}

.bio p {
    text-align: justify;
}

.contact-form {
    width: 45%;
    float: left;
    padding: 0 2%;
    margin-bottom: 50px;
    animation: fadein 4s;
}

.contact-one,
.contact-two,
.contact-three {
    width: 100%;
    margin: 10% 0;
}

.contact-form img {
    margin-right: 1%;
}

.contact-one a,
.contact-two a,
.contact-three a {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
}

.contact-one img,
.contact-two img,
.contact-three img {
    vertical-align: middle;
}

.icon-licence {
    width: 100%;
    text-align: center;
}

.icon-licence a {
    text-decoration: none;
    color: #000;
    font-size: 0.5em;
}


/* Clearfix */

.clearfix {
    content: "";
    display: table;
    clear: both;
}



/* Mixitup */

#gallery-grid .mix {
	display: none;
}



/* Media Queries */

@media screen and (max-width:1250px) {
    
    .bio {                  /* Moves contact form below biography */
        float: none;
        clear: right;
        width: 100%;
        margin: 0 auto;
    }
    
    .bio h2 {
        text-align: center;
    }
    
    .bio p {
        text-align: left;
    }
    
    .contact-form {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .contact-form h2 {
        margin: 3% 0;
    }
    
    .contact-one,
    .contact-two,
    .contact-three {
        margin: 5% 0;
    }
    
    .logo a img {
    width: 100%;
}
}

@media screen and (max-width:960px) {
    
    #header ul,                    /* Disbales Mixitup buttons */
    #header li {
        display: none;
    }
    
    div#gallery-grid:hover a,       /* Disables hover effect */
    div#gallery-grid:hover a:hover {
        transition: none;
        opacity: 1;
    }
    
    .column-three,      /* Moves cols 3 & 4 below cols 1 & 2 */
    .column-four {
        float: right;
    }
    
    .column-one,
    .column-two,
    .column-three,
    .column-four {
        width: 46%;
        margin: 2% 2% 0;
    }
}

@media screen and (max-width:600px) {
    
    .column-one,                /* Moves cols 2 & 4 below cols 1 & 3 */
    .column-three {
        clear: left;
    }
    
    .column-one,
    .column-two,
    .column-three,
    .column-four {
        width: 94%;
        margin: 3%;
    }
    
    .contact-form a {   /* reduces font size on contact buttons */
        font-size: 1em;
    }
    
    .banner-box a#icon-one {     /* Fixed banner */
        left: 10px;
    }

    .banner-box a#icon-two {
        left: 40px;
    }
    
    .work-box {                 
        right: 120px;
    }
    
    .top-box {
        right: 200px;
    }
    
    .contact-box {     
        right: 20px;
    }
    
    .contact-box a,
    .work-box a,
    .top-box a {
        font-size: 1.25em;
    }
    
    .icon-licence a {
    font-size: 0.25em;
    }
}

@media screen and (max-width:400px) {

    .bio h2 {
        font-size: 1.25em;
    }
    
    .work-box {                 
        right: 100px;
    }
    
    .top-box {
        right: 160px;
    }
    
    .contact-box a,
    .work-box a,
    .top-box a {
        font-size: 0.8em;
    }
    
    .contact-one a,
    .contact-two a,
    .contact-three a {
        font-size: 0.9em;
    }
}